.sidebar {
    position: fixed;
    top: 0; /* Ajusta según el tamaño de tu navbar */
    left: -30px;
    width: 250px;
    height: 100%;
    background-color: #4F9CD7;
    color:white;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
    overflow: hidden;
    z-index: 100; /* Asegúrate de que el sidebar esté por encima del contenido */
    text-align: center;
    justify-content: center;
    border-radius: 40px;
  }

  .linea{
    background: white;
  }
  .sidebar__logo-icon{
    color: #85C226; 
    padding-right: 5px;
    font-size: 40px;
    
  }
  
  .sidebar img{
    width: 170px;
    border-radius: 50%;
    margin-left: 10%;
  }
  .usuarioSidebar{
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: rgba(159, 204, 243, 0.863);
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5px;
    margin: 15px;
    border-radius: 20px;
  }

  .usuarioSidebar img{
    width: 50px;
    border-radius: 50px;
  }
  
  .sidebar.closed {
    width: 80px;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1; /* Asegura que el menú ocupe todo el espacio disponible */
  }
  
  .sidebar-menu li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    height: 50px;

  }
  
  .sidebar-menu li span {
    margin-right: 5px;
  }

  
  .sidebar-menu li:hover {
    background-color: #BACD00;
    border-radius: 40px;
  }
  
  .sidebar-menu li:hover a {
    color: white; /* Mantiene el color del texto en hover */
  }
  .sidebar h3{
    margin-top: 0;
    color: #85C226;
  }
  /* Oculta los encabezados cuando el sidebar está cerrado */
  .sidebar.closed h1,
  .sidebar.closed h2,
  .sidebar.closed h3 {
    display: none;
  }
  .sidebar.closed img{
    margin-top: 150px;
  }
  